<h1>Billboard Top 100</h1>
<br/>
<hr>

<% @billboard.each do |billboard| %>
  <%= "Billboard Title: #{billboard.name}"%>
  <br/>
    <% billboard.songs.order('ranking').each do |song| %>
    <%# billboard.songs.each do |song| %>
    <%= "Song Title: #{song.title}" %>
    <%= "Song Artist: #{song.artist.name}"%>
    <br/>
    <% end %>
<% end %>
