<h1>Billboard App</h1>
<hr>
<br/>

<% @billboards.each do |billboard| %>
  <%= link_to "#{billboard.name}", [@billboard, billboard] %>
  <br />
<% end %>

<%= link_to "Create New List", new_billboard_path %><br />

<%= link_to "View All Artists", artists_path %><br />
<%= link_to "View All Songs", songs_path %><br />